<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LeanCommerce\LocationGrid\Api\Data\GridInterface" type="LeanCommerce\LocationGrid\Model\Grid" />

    <virtualType name="LeanCommerce\LocationGrid\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lc_location_records</argument>
            <argument name="resourceModel" xsi:type="string">LeanCommerce\LocationGrid\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">LeanCommerce\LocationGrid\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="LeanCommerce\LocationGrid\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="LeanCommerce\LocationGrid\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">LeanCommerce\LocationGrid\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="LeanCommerce\LocationGrid\Block\Product\Locations">
        <arguments>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
        </arguments>
    </type>
</config>
